<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Feedback List</title>
</head>
<body>
    <h1>Feedback List</h1>
    <table>
        <thead>
            <tr>
                <th>FeedbackID</th>
                <th>FeedbackDate</th>
                <th>FeedbackText</th>
                <th>CustomerID</th>
                <th>FirstName</th>
                <th>LastName</th>
                <th>Email</th>
                <th>Phone</th>
                <th>OrderID</th>
            </tr>
        </thead>
        <tbody>
            {% for feedback in feedbacks %}
                <tr>
                    <td>{{ feedback['FeedbackID'] }}</td>
                    <td>{{ feedback['FeedbackDate'] }}</td>
                    <td>{{ feedback['FeedbackText'] }}</td>
                    <td>{{ feedback['CustomerId'] }}</td>
                    <td>{{ feedback['FirstName'] }}</td>
                    <td>{{ feedback['LastName'] }}</td>
                    <td>{{ feedback['Email'] }}</td>
                    <td>{{ feedback['Phone'] }}</td>
                    <td>{{ feedback['OrderID'] }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
